* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body{
    background: #121214;
    height: 100vh;
}

/* ===== Auxiliary Class ===== */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.w30 {
    width: 30%;
    float: left;
    padding: 0 50px;
}

.w50{
    width: 50%;
    float: left;
}

.w70{
    width: 70%;
    float: left;
}

#inverter {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}


/* ===== Keyframes ===== */

@keyframes blink{
    to { opacity: .0; }
}

/* ===== Header ===== */

.bg-image{
    background:  url("../images/black-purple-bubble.jpg") no-repeat ;
    background-attachment: fixed;
    padding: 15px 0;
    background-size: 100%;
}

.overlay {
    max-width: 1280px;
    margin: 10px auto;
    background: rgba( 248, 244, 244, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}



header {
    padding:20px 30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

header > .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}


.logo {
    float: left;
}

.logo img{
    width: 130px;
}

nav.menu-desktop {
    margin: 0 auto;
}

nav.menu-desktop ul {
    position: relative;
    top: 8px;
}

nav.menu-desktop li {
    padding: 0 10px;
    font-weight: 300;
    display: inline-block;
}

nav.menu-desktop a {
    color: #fff;
    filter: brightness(0.8);
    text-decoration: none;
    letter-spacing: 1px;

    display: inline-block;
    position: relative;

    transition: filter 0.5s;
}

nav.menu-desktop a:hover {
    filter: brightness(1);
}

nav.menu-desktop a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FE8446;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  nav.menu-desktop a:hover:after { 
    width: 100%; 
    left: 0; 
    filter: brightness(1);
  }

  nav.menu-desktop li.selected a {
    font-weight: normal;
    color: #FE8446;
    filter: brightness(1);
}

  nav.menu-desktop li.selected  a:after{
    background: #FE8446;
    width: 100%;
    left: 0;
}


/* ===== Main ===== */

section.main-bg {
    position: relative;
    width: 100%;
    padding: 140px 0 200px 0;
    text-align: center;
}

section.main-bg > .container {
    position: relative;
    z-index: 1;
} 

.hidden {
    opacity:0;
  }
  .console-container {
    font-size:4em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:-100%;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }

#text {
    font-weight: 700;
    font-size: 45px;
}

#estatic-text{
    font-weight: 700;
    font-size: 45px;
    color: #FE8446;
}


  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
    font-size: 50px;
  }



section.main-bg p {
    padding: 0 60px;
    text-align: left;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
}

/* ===== Diferentials ===== */

section.diferentials {
    padding: 30px 0;
    box-shadow: 1rem 0 1rem 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.line-text {
    position: relative;
    display: inline-block;
    color: #FE8446;
}

.line-text > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 3px;
    background: #FE8446;
}

.line-text h2 {
    font-weight: normal;
    font-size: 27px;
}

.icons-diferentials {
    margin: 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
}

.bg-gradient-icon{
    padding: 5px;

    border-radius: 8px;
    box-shadow: 1rem 0 1rem 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top, transparent, rgba(107, 104, 104, 0.3));
}

.box-single-icon {
    padding: 10px;
    margin: 0 40px;
}

.box-single-icon h2 {
    color: rgb(170, 170, 170);
    font-size: 40px;
}

.box-single-icon p {
    color: rgb(228, 226, 226);
    font-weight: lighter;
    font-size:16px;
}


/* ===== About Team ===== */

section.about-team{
    padding: 30px;
    box-shadow: 1rem 0 1rem 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top, rgba(107, 104, 104, 0.1), rgba(107, 104, 104, 0.3));
    position: relative;
    z-index: 1;
}

section.about-team > .container {
    display: flex;
}

.team-container{
    width: 50%;
}

.box-avatar {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.img-avatar{
    width: auto;
}

.img-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.description-avatar {
    width: auto;
    padding: 0 10px;
}

.description-avatar h3 {
    color: #ccc;
    filter: brightness(0.8);
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.description-avatar p {
    color: #fdfdfd7d;
    font-style: italic;
    font-weight: lighter;
}

.about-container{
    width: 50%;
}

.about-container p {
    color: #fdfdfd7d;
    font-size: 15px;
    margin-top: 10px;
}


/* ===== Subscribe ===== */

section.subscribe{
    box-shadow: 1rem 0 1rem 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom right, rgba(107, 104, 104, 0.1), rgba(130, 87, 230, 0.4));
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

section.subscribe > .container {
    margin: auto;
}

.subscribe-text {
    font-size: 25px;
    font-weight: 500;
    color: #fdfdfd7d ;
}

.subscribe-title {
    font-size: 25px;
    font-weight: lighter;
    color: #fdfdfd7d ;
}
  
.blink {
    animation: blink 0.5s infinite;
    font-weight: bold;
}

.subscribe-text i {
    color: #8257e6bb;
}

.form-subscribe {
    width: 100%;
}

.form-subscribe input[type=text]{
    width: 75%;
    height: 30px;
    background: rgba(255, 255, 255, 0.589);
    border: none;
    box-shadow: 1rem  rgba(0, 0, 0, 0.9);
    padding: 5px 10px;
    display: inline-block;

    border-radius: 5px 0  0 5px ;
}

.form-subscribe input[type=submit]{
    width: 120px;
    height: 30px;
    background: #553899a4;
    box-shadow: 1px 2px 1rem 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    border: none;
    display: inline-block;
    border-radius: 0 5px 5px 0;

    transition: all 0.6s;
}

.form-subscribe input[type=submit]:hover{
    filter: brightness(.7);
    box-shadow: 1px 2px 1rem 0 rgba(0, 0, 0, 0.5);
}


/* ===== Section Cards ===== */

section.cards {
    padding: 30px 0;
    position:relative;
    z-index: 1;
}

.single-card{
    width: 33.3%;
    float: left;
    padding: 50px;

   
}

.single-card .bg-gradient{
    padding: 5px;

    border-radius: 8px;
    box-shadow: 1rem 0 1rem 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top, transparent, rgba(107, 104, 104, 0.3));

    cursor: pointer;
}

.single-card img {
    width: 100%;
    max-height: 170px;

    border-radius: 8px 8px 0 0;
}

.card-content{
    padding: 10px 15px;
}

.single-card h3 {
    margin-top: 5px;
    font-weight: 500;
    font-size: 20px;

    color: #E1E1E6;
}

.single-card p {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 16px;
    color: #c4c4c9;
    padding-bottom: 10px;
}


/* ===== Sub-Footer ====== */

footer.sub-footer {
    padding: 20px 0;
    color: #fff;
    box-shadow: 1rem 0 1rem 0 rgba(0, 0, 0, 0.2);
}

footer.sub-footer > .container {
    max-width: 1000px;
}

footer.sub-footer h2 {
    font-weight: normal;
    font-size: 23px;
}

footer.sub-footer p {
    margin-top: 8px;
    font-weight: lighter;
}

footer.sub-footer a {
    display: block;
    color: #fff;
}

.social-icons {
    float: right;
}

.social-icons ul {
    position: relative;
    display: flex;
    margin-top: 10px;
}

.social-icons ul li {
    position: relative;
    list-style: none;
    cursor: pointer;
}

.social-icons ul li:nth-child(2){
    margin: 0 25px;
}


footer.sub-footer .group-icons a {
    display: inline-block;
    text-decoration: none;
}

footer.sub-footer .group-icons a .fa {
    font-size: 30px;
    color: rgb(75, 74, 74);
}

.social-icons ul li::before{
    font-family: FontAwesome;
    position: absolute;
    top: -2px;
    left: 0;
    font-size: 31px;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.social-icons ul li:nth-child(1)::before{
    content: "\f08c";
    color: #1da1f2;
    border-bottom: 3px solid #1da1f2;
}

.social-icons ul li:nth-child(2)::before{
    content: "\f092";
    color: #6e5494;
    border-bottom: 3px solid #6e5494;
}

.social-icons ul li:nth-child(3)::before{
    content: "\f16d";
    color: #e1306c;
    border-bottom: 3px solid #e1306c;
}

.social-icons ul li:hover::before {
    height: 100%;
}


footer.main-footer{
    text-align: center;
    color: #fff;
    padding: 15px 0;

    background: #06050a67;
    box-shadow: 1rem 0 1rem 0 rgba(0, 0, 0, 0.2);
}