* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.w50{
    width: 50%;
    float: left;
}

#inverter {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

/* ===== Header ===== */

header {
    padding:8px 0;
}

.logo {
    float: left;
}

.logo h2{
    font-weight: normal;
    font-size: 23px;
}

nav.menu-desktop {
    float: right;
}

nav.menu-desktop ul {
    position: relative;
    top: 8px;
}

nav.menu-desktop li {
    padding: 0 10px;
    font-weight: lighter;
    display: inline-block;
}

nav.menu-desktop a {
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;

    display: inline-block;
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #8257E6;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

  nav.menu-desktop li.selected a {
    font-weight: normal;
    color: #8257E6;
}

  nav.menu-desktop li.selected  a:after{
    background: #8257E6;
    width: 100%;
    left: 0;
}


/* ===== Main ===== */

section.main-bg {
    position: relative;
    width: 100%;
    padding: 140px 0 200px 0;
    background:  url("../images/forest-bg.jpg") no-repeat ;
    background-position: center;
    background-size: cover;
    text-align: center;
}

section.main-bg > .container {
    position: relative;
    z-index: 1;
} 

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
}

section.main-bg h2 {
    color: #8257E6;
    font-weight: 600;
    font-size: 30px;
}

section.main-bg p {
    text-align: left;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
}

/* ===== Diferentials ===== */

section.diferentials {
    padding: 30px 0;
    text-align: center;
}

.line-text {
    position: relative;
    display: inline-block;
    color: #8257E6;
}

.line-text > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 3px;
    background: #8257E6;
}

.line-text h2 {
    font-weight: normal;
    font-size: 27px;
}

.icons-diferentials {
    margin-top: 30px;
}

.box-single-icon {
    float: left;
    width: 33.3%;
    padding: 0 15px;
}

.box-single-icon h2 {
    color: #171718;
    font-size: 40px;
}

.box-single-icon p {
    color: #404042;
    font-weight: lighter;
    font-size:16px;
}


/* ===== About Team ===== */

section.about-team{
    padding: 30px 0;
    background: rgb(225, 225, 225);
}

section.about-team > .container {
    display: flex;
}

.team-container{
    width: 50%;
}

.box-avatar {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.img-avatar{
    width: auto;
}

.img-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.description-avatar {
    width: auto;
    padding: 0 10px;
}

.description-avatar h3 {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.description-avatar p {
    color: #666;
}

.about-container{
    width: 50%;
}

.about-container p {
    color: black;
    font-size: 15px;
    margin-top: 10px;
}


/* ===== Subscribe ===== */

section.subscribe{
    background: #8257E6;
    padding: 20px 0;
}

section.subscribe > .container {
    margin: auto;
}

.subscribe-text {
    font-size: 25px;
    font-weight: 400;
}

.wrapper {
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 24ch;
    animation: typing 2s steps(24), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.subscribe-text i {
    color: #3a02be;
}

.form-subscribe {
    width: 100%;
}

.form-subscribe input[type=text]{
    width: 75%;
    height: 30px;
    background: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    display: inline-block;

    border-radius: 5px 0  0 5px ;
}

.form-subscribe input[type=submit]{
    width: 120px;
    height: 30px;
    background: #553899;
    color: #fff;
    cursor: pointer;
    border: none;
    display: inline-block;
    border-radius: 0 5px 5px 0;

    transition: filter 0.6s;
}

.form-subscribe input[type=submit]:hover{
    filter: brightness(.7);
}